{%extends 'service_base.html'%}
{% block title %}{{title}}{% endblock %}


{% block description %} 
    <p class="mb-3">Speech to  text, and convert audio formats</p>
{% endblock %}

{% block serviceSelection %}
    <label for="service_select">Select a service</label>
    <select id="service_select" class="custom-select" name="service_select">
        <option selected>Open this select</option>
        <option value="convert_audio">Convert</option>
        <option value="transcribe">Transcribe</option>
        <option value="shake_image">Shake</option>
    </select>
{% endblock %}

{% block features_1_head %}One{% endblock %}

{% block features_1_body %} 
Elit ut fugiat labore do cillum. Officia culpa esse do mollit commodo nulla ullamco adipisicing. Cillum cupidatat proident Lorem eiusmod nisi aliquip qui Lorem laboris ea enim. Ex velit aliquip nostrud veniam qui sunt cillum. Do aute voluptate excepteur qui eiusmod pariatur quis adipisicing ullamco dolore. Officia adipisicing elit do cupidatat commodo. In consequat aliquip enim consequat veniam.
{% endblock %}

{% block features_2_head %}Two{% endblock %}

{% block features_2_body %} 
Elit ut fugiat labore do cillum. Officia culpa esse do mollit commodo nulla ullamco adipisicing. Cillum cupidatat proident Lorem eiusmod nisi aliquip qui Lorem laboris ea enim. Ex velit aliquip nostrud veniam qui sunt cillum. Do aute voluptate excepteur qui eiusmod pariatur quis adipisicing ullamco dolore. Officia adipisicing elit do cupidatat commodo. In consequat aliquip enim consequat veniam.
{% endblock %}


{% block features_3_head %}Three{% endblock %}

{% block features_3_body %} 
Elit ut fugiat labore do cillum. Officia culpa esse do mollit commodo nulla ullamco adipisicing. Cillum cupidatat proident Lorem eiusmod nisi aliquip qui Lorem laboris ea enim. Ex velit aliquip nostrud veniam qui sunt cillum. Do aute voluptate excepteur qui eiusmod pariatur quis adipisicing ullamco dolore. Officia adipisicing elit do cupidatat commodo. In consequat aliquip enim consequat veniam.
{% endblock %}