{%extends 'base_template.html'%}
{% block title %}Image{% endblock %}

{% block head %}
Image Services
{% endblock %}

{% block description %} 
    <p class="mb-3">Text recognition, and converter image formats</p>
{% endblock %}


{% block serviceSelection %}
    <label for="service_select">Select a service</label>
    <select id="service_select" class="custom-select" name="service_select">
        <option selected>Open this select a Service</option>
        <option value="convert_image">Convert</option>
        <option value="transcribe">Transcribe</option>
        <option value="shake">Shake</option>
    </select>
{% endblock %}