{%extends 'base_template.html'%}
{% block title %}Image{% endblock %}

{% block head %}
Image Services
{% endblock %}

{% block description %} 
    <p class="mb-3">Text recognition, and converter image formats</p>
{% endblock %}

{% block content %}
<div id="options" class="container">
    <div id="service-type">
        <select id="service_select" class="custom-select">
            <option selected>Open this select</option>
            <option value="convert">Convert</option>
            <option value="transcribe">Transcribe</option>
            <option value="shake">Shake</option>
        </select>
        <select id="convert_select" class="custom-select" style="display: none;">
            <option value="shake">Shake</option>
        </select>
    </div>
</div>
<div id="drag_drop" class="container">

</div>
{% endblock %}