{%extends 'base_template.html'%}
{% block title %}Home{% endblock %}

{% block body_content %}
    <div class="d-flex justify-content-center flex-column align-content-center container" style="height:70vh; width:100%">

        <h1 class="w-100 text-center">Media Center</h1>
        <div class="w-100 text-center">
            <p >by Tony Darco</p>
        </div>
    </div>

    <div class="container pl-5">
        <p>Introducing a versatile and dynamic web application that redefines your interaction with media files! This all-in-one platform effortlessly handles image, audio, and video inputs, empowering users with a myriad of options. Need to transform a file format? Consider it done with seamless conversion capabilities. Harness the power of text recognition for images and videos, thanks to the integration of Google Tesseract OCR. Plus, experience accurate speech recognition for audio and video files, enhancing accessibility and usability. The robust backbone relies on industry-standard tools like FFmpeg and various Python libraries, ensuring efficiency and reliability. Supported by Flask on the backend and featuring a user-friendly interface crafted using Bootstrap, this app epitomizes convenience and functionality at every turn.</p>
    </div>
{% endblock %}