<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <title>Sage Converter</title>
</head>
<body>
        <div id ="containter">
                <div id="header">
                        <h3>One Stop Shop Converter</h3>
                        <p>Convert images from one format to another</p>
                        <p>Transcribe videos, get text from images and save images as pdf's where text can be copied </p>

                </div>
                <div id="dropoff">
                        <form action="/upload" method = "post" enctype="multipart/form-data">
                                <input type="file" name="file" />
                                <input type="submit" value="Upload" id="">
                        </form>
                <div>
                <div id="support-content">
                        <div>
                                <h3>Supported File Formats</h3>
                                <dl>
                                        <dt>Image Formats</dt>
                                        <dd>- JPEG, JPG, PNG, TIFF, BLP, BMP, WEBP...</dd>
                                        <dt>Video</dt>
                                        <dd>- MP4</dd>
                                        <dt>- Audio</dt>
                                        <dd>- MP3</dd>

                                </dl>
                        </div>
                </div>
        </div>

</body>
</html>