{%extends 'base_template.html'%}

{% block body_content %}

    <div class="jumbotron jumbotron-fluid container d-flex flex-row pl-5">
        <div class="w-50 pl-4 d-flex flex-column justify-content-center">
            <h1 class="display-4">{{title}} Services</h1>
            {% block description %} {% endblock %}
        </div>
        <div class="w-25">
            <h3>Steps</h3>
            <ol>
                <li>Choose a type of service</li>
                    <ul>
                        <li>Convert from a supported type to another</li>
                        <li>Text/Speech Recognition</li>
                        <li>Shake</li>
                    </ul>
                <li>Choose type of output</li>
                <li>Choose file</li>
                <li>Submit</li>
            </ol>
        </div>
    </div>

    <div class="content container ">
        <form action="/upload" method = "POST" enctype="multipart/form-data" id="options-selected">
            <div id="options" class="container">

                <div id="service-type">
                    {% block serviceSelection %} {% endblock %}
                    <div id="convert_div"style="display: none;">
                        <br>
                        <label style="width: 50%;">File type to convert to</label>
                        <select id="convert_select" class="custom-select" name="convert_select">
                            <option selected>Open this select</option>
                        </select>
                    </div>
                    <div id="transcribe_div"style="display: none;">
                        <br>
                        <label style="width: 50%;">Select output type</label>
                        <select id="transcribe_select" class="custom-select" name="transcribe_select">
                            <option selected>Open this select</option>
                        </select>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <div id="drag_drop" class="container d-flex flex-column justify-content-center">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file">
                    <label class="custom-file-label input-group-text" for="file">Choose file</label>
                </div>
                <br>
                <button type="submit" value="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="features container d-flex flex-column border justify-content-center">
        <h3 class="border w-100 text-center py-4">Features of {{title}} Services</h3>
        <div class="container">
            <div class="row">
              <div class="col-sm d-flex flex-column border justify-content-center overflow-auto">
                <h4 class="border w-100 text-center py-2">{{title}} Feature {% block features_1_head %} {% endblock %}</h4>
                <br>
                <p>{% block features_1_body %} {% endblock %}</p>
              </div>
              <div class="col-sm d-flex flex-column border justify-content-center overflow-auto">
                <h4 class="border w-100 text-center py-2">{{title}} Feature {% block features_2_head %} {% endblock %}</h4>
                <br>
                <p>{% block features_2_body %} {% endblock %}</p>
              </div>
              <div class="col-sm d-flex flex-column border justify-content-center overflow-auto">
                <h4 class="border w-100 text-center py-2">{{title}} Feature {% block features_3_head %} {% endblock %}</h4>
                <br>
                <p>{% block features_3_body %} {% endblock %}</p>
              </div>
            </div>
            <br>
        </div>
    </div>
{%endblock%}